<header class="header {{ N9_dispatch('HeaderClasses')|join(' ') }}">
    {% if N9_theme_option('top_bar_enabled') %}
        {{ N9_component('Header/TopBar') }}
    {% endif %}
    <div class="container justified-container">
        <div class="flex-1">
            {{ N9_ui_zone('header_left') }}
        </div>
        <div class="flex-grow-0">
            {{ N9_ui_zone('header_center') }}
        </div>
        <div class="flex-1">
            {{ N9_ui_zone('header_right') }}
        </div>
    </div>
</header>
