<div class="social-links flex justify-center mb-5">
    <a href="{{ facebookLink }}" class="m-2" rel="noopener noreferrer nofollow" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
    <a href="{{ twitterLink }}" class="m-2" rel="noopener noreferrer nofollow" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
    <a href="{{ pinterestLink }}" class="m-2" rel="noopener noreferrer nofollow" target="_blank"><i class="fab fa-pinterest fa-2x"></i></a>
    <a href="{{ linkedInLink }}" class="m-2" rel="noopener noreferrer nofollow" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
    <a href="{{ emailLink }}" class="m-2" rel="noopener noreferrer nofollow" target="_blank"><i class="fas fa-envelope fa-2x"></i></a>
</div>
