{% set title_color = color ? 'style="color:' ~ color ~ '"' : '' %}
{% set title_style = 'title-style-' ~ style %}
{% set title_size = 'title-size-' ~ size %}
<{{ tag }} {{ title_color }} class="title {{ title_style }} {{ title_size }}">
<span>{{ text }}</span>
</{{ tag }}>
